In [2]:
## 반복문 - for

In [5]:
for a in [1,2,3]:
    print(a)

1
2
3

In [6]:
for a in [[1,3],[4,7],[9]]:
    print(a)

[1, 3]
[4, 7]
[9]

In [8]:
for a in [(1,3),[5,7],9]:
    print(a)

(1, 3)
[5, 7]
9

In [9]:
(A,b)=(1,2)

In [10]:
print(A)

1

In [11]:
print(A,b)

1 2

In [16]:
for (a,b) in [(1,2),(3,4),(5,6)]:
    print(a+b)

3
7
11

In [18]:
a="Hello!"
for i in a:
    print(i)

H
e
l
l
o
!

In [20]:
print(a,end="..")

Hello!..

In [26]:
for x in a: #첫번째 문자인 H부터 !까지 순차적으로 출력
    print(x,end=",")

H,e,l,l,o,!,

In [27]:
d={3:"real"}

In [29]:
d[3]

'real'

In [33]:
list(range(1,6,2))

[1, 3, 5]

In [34]:
d = {'circle':2,'rectangle':3,'line':1} #딕셔너리

In [35]:
e = {'red','green','blue','red'} #집합

In [36]:
e

{'blue', 'green', 'red'}

In [37]:
d

{'circle': 2, 'rectangle': 3, 'line': 1}

In [38]:
for x in d:   # key값만 반환
    print(x)

circle
rectangle
line

In [42]:
result=0

In [45]:
for i in list(range(1,11,2)):
    result=result+3
    print(result)

18
21
24
27
30

In [46]:
# 리스트 값의 세배인 값을 result라는 이름의 list값에 넣어라
lst=[1,3,55,1,2]
result=[]u
    new=i*3
    result.append(new)
    print(result)

[3]
[3, 9]
[3, 9, 165]
[3, 9, 165, 3]
[3, 9, 165, 3, 6]

In [47]:
result

[3, 9, 165, 3, 6]

In [49]:
result= [num*3 for num in lst]

In [50]:
result

[3, 9, 165, 3, 6]

In [51]:
result=[i*3-2 for i in lst]

In [52]:
result

[1, 7, 163, 1, 4]

In [59]:
# lst값 중 그 수가 짝수인 것 찾기
result=[i for i in lst if i%2==0]

In [60]:
result

[2]

In [61]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [62]:
range(1,6)

range(1, 6)

In [65]:
for i in list(range(1,5)):
    print(i)

1
2
3
4

In [66]:
# for문 안에 조건문

In [74]:
scores=[100,75,85,64,11]
num=0
for i in scores:
    num=num+1
    if i >= 70:
        print("%d번 합격"%num)
    else:
        print("%d번 불합격"%num)

1번 합격
2번 합격
3번 합격
4번 불합격
5번 불합격