In [1]:
2+3 #더하기

5

In [2]:
3-2 #빼기

1

In [3]:
2*3 #곱하기

6

In [4]:
3.14**2 #3.14의 2승

9.8596

In [5]:
2**0.5 #2의 0.5승

1.4142135623730951

In [6]:
5/2 #나누기

2.5

In [7]:
5//2  #나눴을 때 몫

2

In [8]:
5 % 2 #나눴을 때 나머지

1

In [9]:
#대입연산

In [10]:
a = 6

In [11]:
b = 4

In [12]:
a + b

10

In [13]:
a - b

2

In [14]:
a * b

24

In [15]:
a ** b #a의 b승

1296

In [16]:
a / b

1.5

In [17]:
a // b

1

In [18]:
a % b

2

In [19]:
a=20

In [20]:
a += 5 # a=a+(5), a더하기5를 다시 a에 입력

In [21]:
print(a)

25

In [22]:
a -= 10 # a=a-(10), a빼기10을 다시 a에 입력

In [23]:
print(a)

15

In [26]:
a *= 2 #a = a*(2)

In [27]:
print(a)

60

In [28]:
a /= 3 #a=a/(3)

In [29]:
print(a)

20.0

In [30]:
a = 3

In [31]:
b = 2

In [32]:
a *= 2+b #a = a*(2+b)

In [33]:
print(a)

12

In [34]:
a *= b-5 #a = a*(b-5)

In [35]:
print(a)

-36

In [36]:
a = 95

In [37]:
a == 90 #a는 90과 같다

False

In [38]:
a != 90 #a는 90과 같지 않다

True

In [39]:
a > 90 #a는 90보다 크다

True

In [40]:
a < 90 #a는 90보다 작다

False

In [41]:
a >= 90 #a는 90보다 크거나 같다

True

In [42]:
a <= 90 #a는 90보다 작거나 같다

False

In [43]:
a >= 90 and a <= 100 #a는 90보다 크거나 같고 100보다 작거나 같다

True

In [44]:
90 <= a <= 100 #a는 90보다 크거나 같고 100보다 작거나 같다

True

In [45]:
100 <= a <=110 #a는 100보다 크거나 같고 110보다 작거나 같다

False

In [46]:
70 <= a <= 80 #a는 70보다 크거나 같고 80보다 작거나 같다

False

In [47]:
a = [1,2,'Hello Data']

In [48]:
b = [1,2,'Hello Data']

In [49]:
a == b

True

In [50]:
id(a) == id(b)

False

In [51]:
id(a)

1897968367552

In [52]:
id(b)

1897968630592

In [53]:
a.append('A')

In [54]:
print(a)

[1, 2, 'Hello Data', 'A']

In [55]:
id(a)

1897968367552

In [56]:
a = True #참

In [57]:
b = False #거짓

In [58]:
#and 연산

In [59]:
a and b #and 둘다 True일 때만 True

False

In [60]:
a and a #and 둘다 True이므로 True

True

In [61]:
b and b #and 둘다 False이므로 False

False

In [62]:
# or연산

In [63]:
a or b #or 둘중 하나만 True여도 True

True

In [64]:
a or a #or 둘다 Ture여서 True

True

In [65]:
b or b #or 둘다 False이므로 False

False

In [66]:
# not 연산

In [67]:
not a #반대되는 논리 연산

False

In [68]:
not b

True

In [69]:
not (a and b) #False의 반대이므로 True

True

In [70]:
#구성원 연산자

In [71]:
#in, not in을 사용해서 참,거짓 구분

In [72]:
a = [1,2,'Hello Data']

In [73]:
1 in a #a에 1이 있으므로 참

True

In [74]:
1 not in a #a에 1이 있으므로 거짓

False

In [75]:
3 in a #a에 3이 없으므로 거짓

False

In [76]:
3 not in a #a에 3이 없으므로 참

True

In [77]:
b = {'a':1,'b':2,'c':3}

In [78]:
'a' in b #b에 문자 a가 있으므로 참

True

In [79]:
'k' in b #b에 문자 k가 없으므로 거짓

False

In [80]:
1 in b #b에 key에 1이 없으므로 거짓(key값에만 있음)

False

In [81]:
a = [
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0},
    {'num':'2','name':'박민주','kor':90,'eng':85,'math':90,'total':0,'avg':0.0},
    {'num':'3','name':'박영호','kor':80,'eng':80,'math':80,'total':0,'avg':0.0},
]

In [82]:
a[0] #첫번째 딕셔너리 출력

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0}

In [83]:
a[0]['total'] #첫번째 딕셔너리에 total의 key값 출력

0

In [84]:
a[0]['total'] = 1 #첫번째 딕셔너리에 total의 key값에 1을 입력

In [85]:
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 1,
 'avg': 0.0}

In [86]:
#학생별 합계 구하기
a[0]['total'] = a[0]['kor']+a[0]['eng']+a[0]['math'] #total값 계산
a[1]['total'] = a[1]['kor']+a[1]['eng']+a[1]['math']
a[2]['total'] = a[2]['kor']+a[2]['eng']+a[2]['math']

In [87]:
a[0]['total']

255

In [88]:
a[1]['total']

265

In [89]:
a[2]['total']

240

In [90]:
#학생별 평균 구하기
a[0]['avg']=a[0]['total']/3
a[1]['avg']=a[1]['total']/3
a[2]['avg']=a[2]['total']/3

In [91]:
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0}, {'num': '2', 'name': '박민주', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333}, {'num': '3', 'name': '박영호', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0}]

In [92]:
#학급평균 구하기
b = (a[0]['total']+a[1]['total']+a[2]['total'])/3
print(b)

253.33333333333334