In [1]:
a = 1

In [2]:
b = 1.2345

In [3]:
c = 3+4j

In [4]:
a

1

In [5]:
b

1.2345

In [6]:
c

(3+4j)

In [7]:
type(a)

int

In [8]:
type(b)

float

In [9]:
type(c)

complex

In [10]:
d = a + b + c

In [11]:
d

(5.2345+4j)

In [12]:
sa = 'Hello Bigdata'

In [13]:
print(sa)

Hello Bigdata

In [14]:
sb = "Hello Bigdata"

In [ ]:
print(sb)

In [ ]:
sc = """Hello Bigdata"""

In [ ]:
print(sc)

In [ ]:
sd = '''Hello Bigdata'''

In [ ]:
print(sd)

In [ ]:
se = 'and Cheer up!'

In [ ]:
print(se)

In [ ]:
print(sd + se)

In [ ]:
a = '='

In [ ]:
print(a)

In [ ]:
print(a*50)

In [ ]:
len(a)

In [ ]:
len(se)

In [ ]:
len(a*50)

In [ ]:
a = 'this is a string'

In [ ]:
print(a)

In [ ]:
print(a[2])

In [ ]:
print(a[0])

In [ ]:
print(a[-1])

In [ ]:
print(a[5])

In [ ]:
print(a[4])

In [ ]:
b = '20200722Wed'

In [ ]:
print(b)

In [ ]:
print(b[0:4]) #print([0:8])

In [ ]:
print(b[4:6])

In [ ]:
print(b[:8]) #print([0:8])

In [ ]:
print(b[8:]) #8번째 부터 끝까지

In [ ]:
print(b[:]) #전체

In [ ]:
print(b[:-5]) #-6번째까지

In [ ]:
a = 'this is a string'

In [ ]:
a[10:] = 'rope'

In [ ]:
b = 'rope'

In [ ]:
a[:10] + b

In [ ]:
c = a.replace('string','rope')

In [ ]:
print(c)

In [ ]:
c

In [ ]:
a=11

In [ ]:
"a equals %d." %3

In [ ]:
"a equals %d." %a

In [ ]:
b=-22

In [ ]:
"vars are %d and %d." %(a,b)

In [ ]:
"I have %s children." %"three"

In [ ]:
"vars are %s and %s." %(a,b)

In [ ]:
"vars are %s and %s." %(3.14,5)

In [ ]:
"%10s"%"Good"

In [ ]:
"%-10s"%"Good"

In [ ]:
"%0.5f"%3.141592

In [ ]:
"%20.5f"%3.141592

In [ ]:
"I have {0} children".format(3)

In [ ]:
"I have {0} children".format("three")

In [ ]:
g=3

In [ ]:
"I have {0} children".format(g)

In [ ]:
"I have {0} children. I don't have time {1} day.".format(3,"all")

In [ ]:
"{0:<20}".format("good")

In [ ]:
"{0:>20}".format("good")

In [ ]:
"{0:^20}".format("good")

In [ ]:
"{0:*^20}".format("good")

In [ ]:
"{0:@<20}".format("good")

In [ ]:
a = 3

In [ ]:
b = 'all'

In [ ]:
f"I have {a} children. I don't have time {b} day."

In [ ]:
f"I have {a+2} children. I don't have time {b} day."

In [ ]:
f'{"good":<20}' #{0:<20}.format("good")

In [ ]:
f'{"good":*^20}' #{0:*^20}.format("good")

In [ ]:
c = 3.141592

In [ ]:
f'{c:0.2f}'

In [ ]:
f'{c:20.2f}'

In [ ]:
#문자열 내장함수

In [22]:
a = "Korean culture"

In [16]:
a.count('u')

2

In [17]:
a.find('u')

8

In [25]:
a.find('K')

'K'

In [29]:
a.find('k')
# 위치 -1로 뜸 : 해당 문자가 없을 경우에 -1 출력.

3

In [37]:
# index : find함수와 유사한 기능 / 이건 find와 달리 값이 없을 때 error가 뜸
a.index('u')

8

In [34]:
a.index('k')

ValueError: substring not found

In [42]:
# join함수 - 입력된 문자 사이사이에 지정 문자를 넣어줌. 
",".join(a)

'K,o,r,e,a,n, ,c,u,l,t,u,r,e'

In [43]:
",".join('Korean culture')

'K,o,r,e,a,n, ,c,u,l,t,u,r,e'

In [45]:
",".join("12345678")

'1,2,3,4,5,6,7,8'

In [36]:
a.upper()

'KOREAN CULTURE'

In [46]:
a.lower()

'korean culture'

In [47]:
b = '   Korean culture   '

In [49]:
# strip함수 - 빈 공간 없애기
b.strip()

'Korean culture'

In [50]:
# lstrip함수 - 왼쪽 기준 공백 없애기
b.lstrip()

'Korean culture   '

In [51]:
# rstrip함수 - 오른쪽 기준 공백 없애기
b.rstrip()

'   Korean culture'

In [53]:
a.replace("Korean","American")

'American culture'

In [54]:
# split함수 - 문자열 분리함수(기본 : 공백기준 분리, 따로 지정 가능.)
a.split()

['Korean', 'culture']

In [55]:
c = "Korean & American"

In [57]:
# &기준으로 문자열 분리.
c.split("&")

['Korean ', ' American']

In [58]:
d = True

In [59]:
type(d)

bool

In [60]:
e = False

In [63]:
d or e

True

In [64]:
d and e

False

In [62]:
6 == 6

True

In [65]:
6 > 4

True

In [66]:
bool("ABC")

True

In [68]:
bool("")

False

In [67]:
bool([1,2,3])

True

In [69]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
bool("0")

True

In [ ]:
#리스트 생성

In [70]:
a = [] #a=list()

In [71]:
b = [1,2,3,4,5]

In [72]:
c = ['red','blue','yellow']

In [73]:
d = [1,2,'red','blue']

In [74]:
e=[1,2,['red','blue']]

In [75]:
print(a)

[]

In [76]:
print(b)

[1, 2, 3, 4, 5]

In [77]:
print(c)

['red', 'blue', 'yellow']

In [78]:
print(d)

[1, 2, 'red', 'blue']

In [79]:
print(e)

[1, 2, ['red', 'blue']]

In [80]:
b[0] #b의 첫번째 값

1

In [81]:
b[0] + b[2] #첫번째 요소와 세번째 요소 합

4

In [82]:
b[-1] #뒤에서 첫번째

5

In [83]:
a = [1,2,3,4,5,['a','b','c','d'],7,8,9]

In [84]:
print(a)

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd'], 7, 8, 9]

In [85]:
a[0]

1

In [86]:
a[-1]

9

In [87]:
a[5] #List 안에 6번째

['a', 'b', 'c', 'd']

In [88]:
a[5][2] #List 안에 6번째 인덱싱 해서 다시 한번 세번째 요소 인덱싱

'c'

In [89]:
#슬라이싱 ### 주의 : 마지막 번호는 출력되지 않는다 ex . a[0:5]일경우 0,1,2,3,4번째 값만 출력

In [90]:
b = [1,2,3,4,5]

In [91]:
b[0:4] #첫번째 부터 네번째 까지 실행

[1, 2, 3, 4]

In [114]:
c = "12345"

In [113]:
c[0:4]

'  12'

In [94]:
b[:3] #첫번째 부터 세번째 까지 실행

[1, 2, 3]

In [95]:
b[3:] #네번째 부터 끝까지

[4, 5]

In [100]:
a = [1,2,3,4,5,['a','b','c','d'],7,8,9]

In [109]:
a[0:6]

7

In [102]:
a[0:6:1] #0:6의 안에서 한자리 수마다 출력해라.a[0:6] 동일한 결과

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd']]

In [103]:
a[0:6:2] #0:6의 안에서 두자리 수마다 출력해라

[1, 3, 5]

In [104]:
a[0:6:3] #0:6의 안에서 세자리 수마다 출력해라

[1, 4]

In [107]:
a[5][2]

'c'

In [108]:
a[5][:2]

['a', 'b']

In [153]:
# 시간중 분만 분리해보기 
time=["20200104_1002","20200104_1007"]

a=[]
for i in time:
        new=i[9:]
        a.append(new)
a

['1002', '1007']

In [164]:
# 시간 데이터 중 2020년에 있었던 데이터를 월만 출력해서 월별 갯수 구해라
a=["20201005","20200908","20220705","20200512","20210631","20200105","20200106","20200104"]

nn=[]
for i in a:
    if i[2:4]=="20":
        new=i[4:6]
        nn.append(new)
    else : continue
nn

['10', '09', '05', '01', '01', '01']

In [172]:
import numpy as np

In [176]:
np.unique(nn)

array(['01', '05', '09', '10'], dtype='<U2')

In [168]:
n="1234"
n.replace("4","9")

'1239'

In [ ]:
#연산

In [ ]:
a=[1,2,3,4]

In [ ]:
b=[6,7,8,9]

In [ ]:
a+b

In [ ]:
a*2

In [ ]:
len(a)

In [96]:
k=[12345678]

In [97]:
len(k)

1

In [99]:
k[0]

12345678

In [ ]:
m='12345678'

In [ ]:
len(m)

In [ ]:
c='good'#문자열

In [ ]:
b+c #리스트 + 문자열

In [ ]:
c = ['good'] #리스트로 변경

In [ ]:
b+c

In [ ]:
#수정

In [ ]:
a[3]

In [ ]:
a[3]=9

In [ ]:
print(a)

In [ ]:
n='1234'

In [ ]:
n[3]

In [ ]:
n[3]='9' #문자열 수정 불가

In [177]:
n.replace('4','9')

'1239'

In [178]:
a = [1,2,3,4,[a,b,c]]

In [179]:
b = [6,7,8,9]

In [180]:
len(a)

5

In [181]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [182]:
sum(b)

30

In [185]:
max(a)

TypeError: '>' not supported between instances of 'list' and 'int'

In [183]:
max(b)

9

In [187]:
b[0]

6

In [184]:
min(b)

6

In [189]:
del(b[0])#b[0]삭제

In [190]:
print(b)

[7, 8, 9]

In [208]:
b = [6,7,8,9]

In [209]:
del b[:3] #b의 첫번째 요소에서 세번째 요소까지 삭제

In [210]:
print(b)

[9]

In [211]:
str(b)

'[9]'

In [212]:
str(b[0]) #숫자형을 문자형으로 변경

'9'

In [213]:
b = ['6','7','8','9']

In [214]:
b.append('10') #기존의 리스트에 요소 추가

In [215]:
print(b)

['6', '7', '8', '9', '10']

In [216]:
b.append(['11','12'])

In [217]:
print(b)

['6', '7', '8', '9', '10', ['11', '12']]

In [218]:
c=['6','9','8','7']

In [219]:
print(c)

['6', '9', '8', '7']

In [221]:
c.sort() #크기순서대로 정렬

In [222]:
print(c)

['6', '7', '8', '9']

In [223]:
d = ['x','z','y']

In [224]:
d.sort()

In [225]:
print(d)

['x', 'y', 'z']

In [229]:
c=['6','9','8','7']

In [230]:
c.reverse() #반대순서로 변환

In [231]:
print(c)

['7', '8', '9', '6']

In [232]:
c.index('9') #해당값의 위치, 3번째 요소를 뜻하는 2가 출력

2

In [233]:
c.index('5') #리스트에 없는 값 출력

ValueError: '5' is not in list

In [234]:
c.insert(4,'10') #4번 위치(실제로는 5번째)에 '10'을 추가

In [235]:
print(c)

['7', '8', '9', '6', '10']

In [236]:
c.insert(0,'5') #0번 위치(실제로는 1번째)에 '5'을 추가

In [237]:
print(c)

['5', '7', '8', '9', '6', '10']

In [238]:
e=['3','4','3','4','5']

In [239]:
e.remove('4') #'4'를 제거(여러개 있으면 맨 앞의값 제거)

In [240]:
print(e)

['3', '3', '4', '5']

In [241]:
e.remove('4') #'4'를 제거

In [242]:
print(e)

['3', '3', '5']

In [243]:
e.pop() #리스트에서 마지막 요소 보여주고 삭제

'5'

In [244]:
print(e)

['3', '3']

In [245]:
e.pop(1) #삭제시킬 요소 입력, 1번삭제(2번째요소)

'3'

In [246]:
print(e)

['3']

In [247]:
e.pop(0)

'3'

In [248]:
print(e)

[]

In [353]:
c = [6,6,6,6,6,7,8,9]

In [354]:
c.count(6) #6의 갯수 세기

5

In [355]:
c.extend([4,5]) #괄호안에 리스트만 올수 있음.리스트의 요소만 추가됨 / append와 기능 유사하지만 다름-

In [356]:
# append는 숫자 하나를 더 추가할때 유리, 
# extend는 여러가지 숫자를 추가할 때 유리(but무조건 리스트 형식으로 넣어줘야함)
# insert는 숫자 하나를 특정 위치에 추가하고 싶을때 유리

In [357]:
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5]

In [358]:
c.append(4)

In [359]:
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4]

In [360]:
c.append([4,5])

In [361]:
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, [4, 5]]

In [362]:
c.extend([4])

In [333]:
c.extend([5,6,7,8,11])

In [334]:
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, [4, 5], 4, 5, 6, 7, 8, 11, [4, 5], 4, 5, 6, 7, 8, 11]

In [255]:
#튜플의 생성

In [335]:
a = tuple()

In [336]:
a=()

In [337]:
type(a)

tuple

In [338]:
b = (1,) #하나만 입력시 만드시 콤마 추가

In [339]:
type(b)

tuple

In [340]:
c = (1,2,3)

In [341]:
type(c)

tuple

In [342]:
d = 1,2,3 #괄호 생략 가능

In [343]:
type(d)

tuple

In [364]:
e = 1,2,('ab','cd'),3,4

In [365]:
type(e)

tuple

In [366]:
e[0]

1

In [367]:
print(e)

(1, 2, ('ab', 'cd'), 3, 4)

In [351]:
a=[1,2,3,4]
del a[0]
print(a)

[2, 3, 4]

In [368]:
del e[0]

TypeError: 'tuple' object doesn't support item deletion

In [369]:
e.remove[1]

AttributeError: 'tuple' object has no attribute 'remove'

In [371]:
e[:] #요소 전체 출력

(1, 2, ('ab', 'cd'), 3, 4)

In [372]:
c+e

TypeError: can only concatenate list (not "tuple") to list

In [373]:
c*2

[6,
 6,
 6,
 6,
 6,
 7,
 8,
 9,
 4,
 5,
 4,
 [4, 5],
 4,
 6,
 6,
 6,
 6,
 6,
 7,
 8,
 9,
 4,
 5,
 4,
 [4, 5],
 4]

In [374]:
len(c)

13

In [375]:
x,y,z=(1,2,3)

In [376]:
print(x,y,z)

1 2 3

In [377]:
print(x)

1

In [378]:
#사전의 생성 -> 위치 혹은 value값으로 인덱싱을 하면 에러가 뜸 key값으로만 가능

In [379]:
#{key1,:value1,key2:value2,...}

In [1]:
a ={'gender':'Female', 'age':30, 'name':'Kristina'}

In [2]:
type(a)

dict

In [3]:
a['gender'] #위치자리에 key를 입력하면, key해당되는 value가 반환됨

'Female'

In [4]:
a['age']

30

In [5]:
a[0] #기존 방법처럼 위치를 지정하면 에러남

KeyError: 0

In [6]:
a['Kristina']

KeyError: 'Kristina'

In [7]:
b = {1:'good'} #key자리에 정수값 1을 넣고 dictionary 만듬. 실행가능

In [8]:
print(b)

{1: 'good'}

In [9]:
c = {'a':[1,3,5]} #Key자리에 문자열, value자리에 리스트 [1,3,5]입력

In [10]:
print(c)

{'a': [1, 3, 5]}

In [395]:
d = {'a':(1,3,5)} #튜플도 딕셔너리 지정 가능

In [396]:
print(d)

{'a': (1, 3, 5)}

In [397]:
c = {[1,3,5]:'a'} #리스트(수정가능)는 key자리에는 사용 불가

TypeError: unhashable type: 'list'

In [398]:
d = {(1,3,5):'a'} #튜플(바꿀수없음)은 key자리에 사용가능

In [399]:
a = {'gender':'Female'}

In [400]:
a['age']=30 #age = 30 key value 추가

In [295]:
print(a)

{'gender': 'Female', 'age': 30}

In [296]:
a['name'] = 'Kristina' #key value 추가

In [297]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Kristina'}

In [298]:
a['a'] = [1,3,5] #[1,3,5] 리스트 추가

In [299]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Kristina', 'a': [1, 3, 5]}

In [300]:
del a['a'] #사전의 삭제, 해당key와 value 한쌍이 삭제

In [301]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Kristina'}

In [302]:
del a['name']

In [303]:
print(a)

{'gender': 'Female', 'age': 30}

In [304]:
#사전의 장점

In [305]:
result = {'학생A':99,'학생B':91,'학생C':83,'학생D':100}

In [306]:
result['학생A']

99

In [307]:
a = [1,2,3]

In [308]:
a[1] #1은 두번쨰 요소a[자리수]

2

In [309]:
a = {'gender':'Femal','age':30}

In [310]:
a[1] #1은 key값, 1이라는 key값이 없기 때문에 에러발생

KeyError: 1

In [311]:
#중복Key값

In [401]:
a={'fuel':'gasoline','fuel':'diesel'} #중복되는 경우 맨 뒤의값 출력

In [402]:
print(a)

{'fuel': 'diesel'}

In [403]:
#사전 함수

In [404]:
a ={'gender':'Female', 'age':30, 'name':'Kristina'}

In [405]:
a.keys() #key 출력.파이썬3.0이상부터 적용

dict_keys(['gender', 'age', 'name'])

In [406]:
list(a.keys())

['gender', 'age', 'name']

In [407]:
a.values() #전체 value값 출력

dict_values(['Female', 30, 'Kristina'])

In [408]:
list(a.values())

['Female', 30, 'Kristina']

In [409]:
a.items()#key, value(key값)를 묶은 한쌍을 출력

dict_items([('gender', 'Female'), ('age', 30), ('name', 'Kristina')])

In [410]:
a.clear() #딕셔너리안에 모든 요소들을 삭제

In [411]:
print(a)

{}

In [412]:
a ={'gender':'Female', 'age':30, 'name':'Kristina'}

In [413]:
a.get('gender') #a['gender']

'Female'

In [416]:
a.get('height','?') #key가 딕셔너리 안에 아무값 없을때, ?로 표현

'?'

In [417]:
'gender' in a # 값이 있으면 Ture

True

In [418]:
'heignt' in a  # 값이 없으면 False

False

In [419]:
#집합의 생성

In [420]:
a = set([1,2,3,4,5]) #set키워드 이용해서 집합 만들수 있음

In [421]:
print(a)

{1, 2, 3, 4, 5}

In [ ]:
type({1,2,3,4,5}) #소괄호 안에 넣어서 나타냄

In [ ]:
type((1,2,3,4,5)) #터플타입

In [ ]:
type([1,2,3,4,5]) #리스트타입

In [ ]:
type({1:2,3:4,5:6}) #딕서너리 타입

In [ ]:
b=set('Kristina')

In [ ]:
b #집합내에 중복허용안됨, 순서가 없음.

In [ ]:
b[1]#indexing 순서가 없어 인덱싱을 지원하지 않음

In [ ]:
c = list(b) #list나 터플로 변환하여 적용해야함

In [ ]:
c

In [ ]:
c[1]

In [ ]:
#교집합, 합집합, 차집합

In [ ]:
x={1,2,3,4,5}

In [ ]:
y={3,4,5,6,7}

In [ ]:
x&y #교집합

In [ ]:
x.intersection(y) #교집합 intersection함수를 사용하여 구할수 있음

In [ ]:
x|y #합집합

In [ ]:
x.union(y) #합집합 union함수를 사용하여 구할수 있음

In [ ]:
y.union(x)

In [ ]:
x-y #차집합

In [ ]:
y-x #차집합은 앞뒤 순서에 따라 결과가 달라짐

In [ ]:
x.difference(y) #차집합 difference함수를 이용하여 구할수 있음

In [ ]:
x^y #대칭 차집합

In [ ]:
(x-y) |(y-x)

In [ ]:
#집합함수

In [ ]:
x.add(10) #한개의 값 추가

In [ ]:
print(x)

In [ ]:
x.update([11,12,13]) #여러개의 값을 함꺼번에 추가

In [ ]:
print(x)

In [ ]:
x.remove(13) #특정 값을 제거

In [ ]:
print(x)