# 조건문

## if문

In [3]:
#if문의 구조

In [4]:
x = 5

In [5]:
if x < 10:
    a=1

In [4]:
a

1

## if-else 문

In [13]:
if True:
    print('참입니다')
else:
    print('거짓입니다')

참입니다

In [14]:
if False:
    print('참입니다')
else:
    print('거짓입니다')

거짓입니다

In [27]:
a = 1000

In [28]:
if a > 5000:
    print('택시를 탑니다')
else:
    print('버스를 타야합니다')

버스를 타야합니다

In [29]:
if a <= 5000:
    print('택시를 탑니다')
else:
    print('버스를 타야합니다')

택시를 탑니다

In [30]:
if a > 5000:
print('택시를 탑니다') #들여쓰기 필요
else:
    print('버스를 타야합니다')

IndentationError: expected an indented block (<ipython-input-30-5df62d9f2bbb>, line 2)

In [31]:
if a > 5000:
    print('택시를 탑니다')
    else: #else 위치 앞으로
    print('버스를 타야합니다')

SyntaxError: invalid syntax (<ipython-input-31-c39f89e01d63>, line 3)

In [ ]:
x = 10

In [ ]:
if x>0:
    a = 1 #x>o면 a=1,b=1의값 할당
    b = 1
else:
    a = 0 #x<=o면 a=0,b=0의값 할당
    b = 0

In [ ]:
a

In [ ]:
b

In [ ]:
#input함수: 사용자가 어떤 값을 입력하게 하고, 그 값을 변수에 저장할 수 있음
#float함수: 실수형으로 바꿔줌(소수점), int함수: 정수로 바꿔줌, str함수: 텍스트형식

In [52]:
grade = float(input('총 평점을 입력해 주세요:'))

총 평점을 입력해 주세요:35

In [53]:
if grade >= 4.3:
    print('당신은 장학금 수여 대상자입니다')
    print('축하합니다')
else:
    print('안타깝습니다. 더 노력하세요.')

당신은 장학금 수여 대상자입니다
축하합니다

In [56]:
grade= float(input("당신의 이번학기 총학점을 입력해 주세요."))

당신의 이번학기 총학점을 입력해 주세요.3.1

In [57]:
if grade >= 4.4 :
    print("당신은 장학금 수여 대상자입니다.")
    print("축하드립니다.")
else:
    print("당신은 장학금 수여 대상자가 아닙니다.")

당신은 장학금 수여 대상자가 아닙니다.

In [54]:
data = int(input('숫자를 입력하시오:'))

숫자를 입력하시오:5

In [55]:
if data % 2 == 0: #숫자를 2로 나눠었을때, 나머지가 없으면 짝수 그렇지 않으면 홀수
    print('입력된 값은 짝수입니다.')
else:
    print('입력된 값은 홀수 입니다.')

입력된 값은 홀수 입니다.

## if-elif-else문

In [ ]:
x = 5

In [ ]:
if x < 10:
    a = 1
elif 10 <= x < 20:
    a = 2
else:
    a = 3

In [ ]:
a

In [32]:
# if, elif, else문 연습

In [33]:
# 키가 150d이하면 매우작음
#       150 이상이면 작음
#        160 이상이면 평균
#        170 이상이면 조금 큼
#        180 이상이면 매우 큼

In [40]:
height=[130,150,165,171,183,156,185]

what=[]
for i in height:
    if (i <150) : 
        what.append("매우작음")
    elif (i >= 150 )& (i<160):
        what.append("작음")
    elif (i >=160) & (i<170):
        what.append("평균")
    elif (i >=170) & (i <180):
        what.append("조금 큼")
    else:
        what.append("매우 큼")

In [41]:
what

['매우작음', '작음', '평균', '조금 큼', '매우 큼', '작음', '매우 큼']

In [42]:
import pandas as pd

In [50]:
pd.DataFrame(zip(height,what),columns=["키","키_범주형"])

     키 키_범주형
0  130  매우작음
1  150    작음
2  165    평균
3  171  조금 큼
4  183  매우 큼
5  156    작음
6  185  매우 큼

## 중첩된 if 문

In [ ]:
#중첩된 if문

In [1]:
age = int(input('나이를 입력하세요:'))

나이를 입력하세요:35

In [2]:
height = float(input('키를 입력하세요:'))

키를 입력하세요:175.5

In [3]:
if age >= 40: #나이가 40이상
    if height >= 170:
        print('키가 보통 이상입니다')
    else:
        print('키가 보통입니다')
else: #나이가 40미만
    if height >= 175:
        print('키가 보통 이상입니다')
    else:
        print('키가 보통입니다')

키가 보통 이상입니다

## 간략한 if-else문

In [7]:
#간단한 if-else 문

In [8]:
score = 80

In [9]:
if score >= 70:
    a = "good"
else:
    a = "bad"

In [10]:
a

'good'

In [11]:
a = "good" if score >= 70 else "bad" #위의 문장아 이와 같이 간단히 가능

In [12]:
a

'good'

In [25]:
pick=[]
for i in range(1,8,1):
    if i>=5:
        a=i*10
        pick.append(a)
    else:
        pick.append(i)

In [26]:
pick

[1, 2, 3, 4, 50, 60, 70]

# 반복문

## for문

In [13]:
#for 문

In [14]:
for a in [1,2,3]: #list의 값이 차례로 입력
    print(a)

1
2
3

In [17]:
for a in [[1,3],[5,7],[9]]: #list 안에 리스트가 차례로 출력
    print(a)

[1, 3]
[5, 7]
[9]

In [18]:
for a in [(1,3),{5,7},9]: #list 안에 튜플(1,3), 두번째 값 집합{5,7}, 숫자 9 가 차례로 출력
    print(a)

(1, 3)
{5, 7}
9

In [19]:
(a,b) = (1,2)

In [20]:
print(a)

1

In [21]:
print(b)

2

In [22]:
print(a,b)

1 2

In [23]:
for (a,b) in [(1,2),(3,4),(5,6)]: #리스트의 튜플 (1,2), (3,4), (
    print(a+b)

3
7
11

In [24]:
a = 'Hello!'

In [25]:
b = ['Hello!', 'Data'] #리스트

In [26]:
c=(1,2,3) #튜플

In [27]:
for x in a: #첫번째 문자인 H부터 !까지 순차적으로 출력
    print(x)

H
e
l
l
o
!

In [28]:
for x in a: #첫번째 문자인 H부터 !까지 순차적으로 출력
    print(x, end = "")

Hello!

In [29]:
for x in b:
    print(x)

Hello!
Data

In [30]:
for x in c: #튜플
    print(x)

1
2
3

In [31]:
d = {'circle':2,'rectangle':3,'line':1} #딕셔너리

In [32]:
e = {'red','green','blue','red'} #집합

In [33]:
for x in d: #딕셔너리는 key만 반환
    print(x)

circle
rectangle
line

In [34]:
for x in e: #집합자료형은 순서가 없으며 중복을 허용하지 않음. 순차적으로 입력되지 않음.
    print(x)

red
blue
green

In [38]:
# range함수

In [41]:
list(range(1,11,2)) #range(시작하는수, 끝나는수+1,간격)

[1, 3, 5, 7, 9]

In [51]:
result = 0

In [52]:
for i in list(range(1,11,2)):
    result = result + 3
print(result)

15

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
result = [ ]

In [ ]:
for num in lst:
    result.append(num*3) #append함수써서 하나씩 추가
print(result)

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
#한줄로 간편하게 입력 방법

In [ ]:
result = [num*3 for num in lst]

In [ ]:
print(result)

In [ ]:
result = [num*3 for num in lst if num%2 == 0] #조건문 추가 짝수인것 찾기

In [ ]:
print(result)

## 이중 for 문

In [ ]:
result = [ ] #괄호안에 띄워야함

In [ ]:
for i in list(range(1,6)):
    for j in list(range(1,11)):
        k = i*j
        result_temp = [i,j,k]
        result.append(result_temp)

In [ ]:
print(result)

In [ ]:
result[1]

In [ ]:
result[0]

In [ ]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b, end=" ") #아래 for문이 끝날 때 까지 이어서 결과 출력
        print('') #줄바꿈의 역할

In [ ]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b)
    print('') #줄바꿈의 역할

In [ ]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b,end=" ")

## for문 안에 조건문(if-else)

In [58]:
#for-if-else

In [58]:
Score=[100,7,75,32]

In [59]:
num = 0

In [61]:
for a in Score:
    num = num + 1
    if a >= 70:
        print('%d번 합격'%num)
    else:
        print('%d번 불합격'%num)

100번 합격
6번 불합격
75번 합격
8번 불합격

## While문

In [ ]:
i = 1

In [ ]:
while i < 10:
    result = 2*i
    print(result)
    i = i + 1

In [73]:
a = 1

In [74]:
b = 0

In [75]:
while a <= 100:
    b = b + a
    a = a + 1
print('1부터100까지의 합은:',b)

1부터100까지의 합은: 5050

In [76]:
a = 1

In [77]:
b = 0

In [78]:
while a <= 100:
    b = b + a
    a = a + 1
print('1부터100까지의 합은:',b)

1부터100까지의 합은: 5050

In [79]:
a = 1

In [80]:
b = 0

In [81]:
while a <= 100:
    b = b + a
    a = a + 1
    if b > 3000:
        break
    
print('1부터100까지의 합은:',b)

1부터100까지의 합은: 3003

In [82]:
result = [ ]

In [83]:
for i in range(1,6):
    for j in range(1,11):
        k = i*j
        result_temp = [i,j,k]
        if k>10:
            break
        result.append(result_temp)

In [84]:
print(result)

[[1, 1, 1], [1, 2, 2], [1, 3, 3], [1, 4, 4], [1, 5, 5], [1, 6, 6], [1, 7, 7], [1, 8, 8], [1, 9, 9], [1, 10, 10], [2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [3, 1, 3], [3, 2, 6], [3, 3, 9], [4, 1, 4], [4, 2, 8], [5, 1, 5], [5, 2, 10]]

## break

In [ ]:
a = 1

In [ ]:
b = 0

In [ ]:
while a <= 100:
    b = b + a
    a = a + 1
    if b > 3000:
        break
    
print('1부터100까지의 합은:',b)

In [ ]:
result = [ ]

In [ ]:
for i in range(1,6):
    for j in range(1,11):
        k = i*j
        result_temp = [i,j,k]
        if k>10:
            break
        result.append(result_temp)

In [ ]:
print(result)

## Continue

In [ ]:
#Continue

In [ ]:
Score=[100,7,75,32]

In [ ]:
num = 0

In [ ]:
for a in Score:
    num = num + 1
    if a < 70:
        continue
    else:
        print('%d번 합격'%num)