In [1]:
import pandas as pd #pd라는 이름으로 pandas를 사용

In [22]:
#pd.read_csv함수 이용해서 불러오기
#구분자 ,(콤마) default
csv_test = pd.read_csv('data/test_csv_file.csv')

In [4]:
csv_test

   ID LAST_NAME  AGE
0   1       KIM   30
1   2      CHOI   25
2   3       LEE   41
3   4      PARK   19
4   5       LIM   36

In [5]:
type(csv_test)

pandas.core.frame.DataFrame

In [5]:
csv_test.shape

(5, 3)

In [6]:
## __.info : 데이터 형태 파악하기 좋은 함수
csv_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         5 non-null      int64
 1   LAST_NAME  5 non-null      object
 2   AGE        5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [13]:
csv_test.describe()

             ID        AGE
count  5.000000   5.000000
mean   3.000000  30.200000
std    1.581139   8.700575
min    1.000000  19.000000
25%    2.000000  25.000000
50%    3.000000  30.000000
75%    4.000000  36.000000
max    5.000000  41.000000

In [12]:
csv_test.dtypes

ID            int64
LAST_NAME    object
AGE           int64
dtype: object

In [24]:
#pd.read_csv함수 이용해서 불러오기
#구분자 '|'인 text파일 불러오기 : sep='|'
text_test = pd.read_csv('data/test_text_file.txt',sep='|')

In [16]:
text_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      object
 1   A       3 non-null      int64
 2   B       3 non-null      int64
 3   C       3 non-null      int64
 4   D       3 non-null      int64
dtypes: int64(4), object(1)
memory usage: 248.0+ bytes

In [17]:
text_test

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [25]:
#파일 불러올 때 index 지정해주기 : index_col
text_test = pd.read_csv('data/test_text_file.txt',sep='|',index_col = 0) #첫번째 열,위치로 지정

In [19]:
text_test

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [20]:
#파일 불러올 때 index 지정해주기 : index_col
text_test = pd.read_csv('test_text_file.txt',sep='|',index_col = 'ID') #변수이름으로 지정

In [21]:
text_test

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [12]:
#변수 이름(column name, header) 이 없는 파일 불러올 때 이름 부여하기
# names=['X1', 'X2', ... ], header=None
# header=None은 칼럼 이름이 없다는 의미, 만약 1번째 행이 컬럼이름 이면 header=0으로 지정
text_test = pd.read_csv('text_without_column_name.txt',sep='|',
                        names = ['ID','A','B','C','D'],header=None,index_col='ID')

In [13]:
text_test

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [14]:
#만약 아래처럼 'utf-8' 코덱을 decode 할 수 없다고 에러 메시지가 나오는 경우
f = pd.read_csv('directory/file', sep='|'', encoding='CP949')

SyntaxError: invalid syntax (1350028323.py, line 2)

In [15]:
# 특정 줄을 제외하고 불러오기 : skiprows = [x, x]
# 첫번째와 두번째 줄은 제외하고 csv 파일 불러오기
csv_test = pd.read_csv('test_csv_file.csv',skiprows = [1,2])

In [16]:
csv_test

   ID LAST_NAME  AGE
0   3       LEE   41
1   4      PARK   19
2   5       LIM   36

In [17]:
#  n 개의 행만 불러오기: nrows = n
# 위에서부터 n개의 행만 불러오기
csv_test = pd.read_csv('test_csv_file.csv',nrows = 3)

In [18]:
csv_test

   ID LAST_NAME  AGE
0   1       KIM   30
1   2      CHOI   25
2   3       LEE   41

In [19]:
#csv파일로 내보내기
data = {'ID': ['A1', 'A2', 'A3', 'A4', 'A5'],
        'X1': [1, 2, 3, 4, 5],
        'X2': [3.0, 4.5, 3.2, 4.0, 3.5]}

In [20]:
data_df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e']) # converting to DataFrame

In [21]:
data_df

   ID  X1   X2
a  A1   1  3.0
b  A2   2  4.5
c  A3   3  3.2
d  A4   4  4.0
e  A5   5  3.5

In [22]:
# 새로운 행 및 결측값 추가
data_df_2 = data_df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])

In [23]:
data_df_2 # 'f' : NaN

    ID   X1   X2
a   A1  1.0  3.0
b   A2  2.0  4.5
c   A3  3.0  3.2
d   A4  4.0  4.0
e   A5  5.0  3.5
f  NaN  NaN  NaN

In [24]:
data_df_2.to_csv('data_df_2.csv', # file path, file name
                 sep=',',   # seperator, delimiter (구분자)
                 na_rep='NaN')   # missing data representation (결측값 표기)